/*------------------------------------*\
#GENERIC
\*------------------------------------*/

/*
    Generic: Page
    ---
    Global page styles + universal box-sizing:
*/

html {
  font-size: 16px;
  line-height: 1.5em;
  font-family: 'IBM Plex Sans', 'Helvetica Neue', 'Arial', sans-serif;
  box-sizing: border-box;
  color: var(--global-html-color);
  background-color: var(--global-html-backgroundColor);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 0.8em;
  font-weight: 700;
}

h2 {
  font-size: 1.75em;
  font-weight: 400;
}

::-moz-selection {
  background: var(--global-selection-backgroundColor);
  color: white;
  text-shadow: none;
}

::selection {
  background: var(--global-selection-backgroundColor);
  color: white;
  text-shadow: none;
}

/*------------------------------------*\
#Variables
\*------------------------------------*/

:root {
  --global-color-alpha-light: #a1baeb;
  --global-color-alpha: #8cabe6;
  --global-color-alpha-dark: #779ce1;

  --global-color-neutral-light: #353535;
  --global-color-neutral: #2c2c2c;
  --global-color-neutral-dark: #262626;

  --global-html-color: white;
  --global-html-backgroundColor: var(--global-color-neutral);
  --global-selection-backgroundColor: var(--global-color-alpha-light);

  --global-borderColor: var(--global-color-neutral-light);
  --global-backgroundColor: var(--global-color-neutral-dark);

  --global-negative-color: red;
  --global-neutral-color: grey;
  --global-positive-color: greenyellow;

  --global-error-color: red;
}

/*------------------------------------*\
#OBJECTS
\*------------------------------------*/

/*
    Objects: Container
    ---
    Creates a horizontal container that sets the global max-width
*/

.o-container {
  max-width: 56em;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/*
    Object: Button reset
    ---
    Small button reset object
*/

.o-button-reset {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
}

/*------------------------------------*\
#COMPONENTS
\*------------------------------------*/

/*
    Component: Loader
    ---
    Loader for when something is loading
*/

.c-loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 60px;
  height: 60px;
  margin: -38px 0 0 -38px;
  border: 8px solid var(--global-html-color);
  border-radius: 50%;
  border-top: 8px solid var(--global-color-alpha);
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*
    Component: App
    ---
    Main app wrapper
*/

.c-app {
  display: flex;
  align-items: center;
  min-height: 100vh;
  filter: blur(10px);
  transition: all 0.3s ease;
}

.c-app-landing {
  display: flex;
  align-items: center;
  min-height: 100vh;
}

/*
    Component: Button
    ---
    Class to put on form buttons or
*/

.c-button {
  font-size: 1em;
  font-weight: 700;
  border-radius: 10px;
  border: 1px solid var(--global-borderColor);
  background-color: var(--global-color-alpha);
  color: #fff;
  line-height: calc(var(--global-baseline) * 3);
  padding: 0.3em;
  width: 10em;
  margin-top: 2em;
  outline: none;
  transition: all 0.3s ease-in-out;
}

.c-button-newsletter {
  font-size: 1em;
  font-weight: 700;
  border-radius: 10px;
  border: 1px solid var(--global-borderColor);
  background-color: var(--global-color-alpha);
  color: #fff;
  line-height: calc(var(--global-baseline) * 3);
  padding: 0.3em;
  width: 7.5em;
  top: 4px;
  right: 4px;
  margin: 0;
  outline: none;
  position: absolute;
  transition: all 0.3s ease-in-out;
}

.c-button:hover {
  background-color: var(--global-color-alpha-dark);
  transform: scale(1.05);
}

.c-button-newsletter:hover {
  background-color: var(--global-color-alpha-dark);
}

.c-button:focus,
.c-button-newsletter:focus {
  background-color: var(--global-backgroundColor);
}

.c-button:active,
.c-button-newsletter:active {
  background-color: var(--global-color-alpha);
  box-shadow: 0 0 0 3px var(--global-html-color);
}

.c-button-newsletter:disabled {
  background-color: var(--global-color-neutral-dark);
  color: grey;
  pointer-events: none;
}

.c-button--center {
  display: flex;
  justify-content: center;
}

/*
    Component: Input
    ---
    Label components
*/

.c-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  box-sizing: border-box;
  padding: 1em;
  color: white;
  border-radius: 10px;
  border: 1px solid var(--input-borderColor, var(--global-borderColor));
  background-color: var(--global-backgroundColor);
  outline: none;
  transition: all 0.3s ease-in-out;
}

.c-input:focus,
.c-input:active {
  border: 1px solid var(--global-color-alpha);
}

/*
    Component: Label
    ---
    Label components
*/

.c-label {
  font-size: 0.8em;
  color: red;
}

.has-error {
  --input-borderColor: var(--global-error-color);
}

/*
    Component: Landing
    ---
    Landing page components
*/

.c-landing {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr auto auto 1fr;
  grid-gap: 16px;
}

.c-landing-logo {
  grid-row: 1;
  grid-column: 1;
}

.c-landing-title {
  font-size: 1.5em;
  grid-row: 2;
  grid-column: 1;
  color: var(--global-color-alpha);
  font-weight: 700;
}

.c-landing-description {
  grid-row: 3;
  grid-column: 1;
}

.c-landing-mockup {
  grid-row: 1/-1;
  margin-left: auto;
  margin-right: auto;
  align-self: center;
  width: 100%;
  height: auto;
}

.c-landing-subscribe {
  grid-row: 4;
  grid-column: 1;
}

.c-landing-subscribe-input {
  position: relative;
}

/*
    Component: Dashboard
    ---
    Dashboard components
*/

.c-dashboard {
  display: grid;
  grid-template-areas:
    'current current current graph'
    'trend30 trend90 trend180 graph';
  grid-gap: 20px;
}

.c-dashboard__items {
  background-color: var(--global-backgroundColor);
  padding-left: 15px;
  border: 1px solid var(--global-borderColor);
  border-radius: 3px;
}

.c-dashboard__graph {
  grid-area: graph;
  min-width: 27em;
  padding-right: 15px;
}

.c-dashboard__current {
  grid-area: current;
  height: 10em;
  border: none;
  border-radius: 0;
  border-left: 3px solid grey;
  background-color: transparent;
  position: relative;
  display: grid;
  grid-template-areas: 'current-content current-img';
  grid-gap: 10em;
}

.c-dashboard__current h2 {
  color: var(--global-color-alpha);
  line-height: 1.75em;
}

.c-dashboard__current p {
  font-size: 2em;
  font-weight: bold;
  line-height: 0;
  margin: 16px 0;
}

.c-dashboard__current p span {
  font-size: 16px;
}

.c-dashboard__current-content {
  position: absolute;
  bottom: 0;
  grid-area: current-content;
  width: 15em;
}

.c-dashboard__current-name {
  margin: 0;
}

.c-dashboard__current-img {
  grid-area: current-img;
  width: 10em;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 3s ease;
}

.c-dashboard__current-trendtoday {
  display: flex;
  align-items: center;
  margin-left: 16px;
  padding-left: 16px;
  border-left: 2px solid #464646;
}

.c-dashboard__current-trendtoday p {
  font-size: 1em;
  margin-right: 8px;
}

.c-dashboard__price {
  display: flex;
  justify-content: start;
}

.c-dashboard__trend30 {
  grid-area: trend30;
  min-width: 6em;
}

.c-dashboard__trend90 {
  grid-area: trend90;
  min-width: 6em;
}

.c-dashboard__trend180 {
  grid-area: trend180;
  min-width: 6em;
}

.c-dashboard__trend-negative {
  fill: var(--global-negative-color);
  vertical-align: bottom;
}

.c-dashboard__trend-positive {
  fill: var(--global-positive-color);
  vertical-align: bottom;
}

.c-dashboard__trend-neutral {
  fill: var(--global-neutral-color);
  vertical-align: bottom;
}

/*------------------------------------*\
#MEDIA
\*------------------------------------*/

@media (max-width: 980px) {
  .c-dashboard {
    grid-template-areas:
      'current current current'
      'trend30 trend90 trend180'
      'graph graph graph';
    padding: 30px;
  }

  .c-dashboard__current-img {
    grid-column: 3;
    margin-left: auto;
    margin-right: auto;
  }

  .c-app-landing {
    max-width: 32em;
    margin-left: auto;
    margin-right: auto;
  }

  .c-landing {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto 1fr;
  }

  .c-landing-logo {
    grid-row: 1;
    grid-column: 1;
  }

  .c-landing-title {
    grid-row: 2;
    grid-column: 1;
  }

  .c-landing-description {
    grid-column: 1;
    grid-row: 3;
  }

  .c-landing-mockup {
    grid-column: 1;
    grid-row: 5;
  }

  .c-landing-subscribe {
    grid-row: 4;
    grid-column: 1;
  }
}

@media (max-width: 620px) {
  html {
    font-size: 10px;
  }

  .c-dashboard__current-img {
    grid-column: 2;
  }

  .c-dashboard__current {
    height: 12em;
  }

  .c-dashboard__current h2 {
    font-size: 16px;
  }

  .c-dashboard__current p {
    font-size: 1.5em;
  }

  .c-dashboard__current p span {
    font-size: 12px;
  }

  .c-dashboard {
    grid-gap: 5px;
    padding: 10px;
  }

  .c-dashboard__graph {
    min-width: 20em;
  }

  .c-dashboard__trend30 {
    min-width: 4em;
  }

  .c-dashboard__trend90 {
    min-width: 4em;
  }

  .c-dashboard__trend180 {
    min-width: 4em;
  }

  .c-landing-logo {
    width: 100%;
  }

  .c-button-newsletter {
    font-size: 12px;
    height: 36px;
  }
}

@media (max-width: 420px) {
  .c-dashboard__items {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
  }

  .c-dashboard__current {
    grid-gap: 12em;
    width: 28em;
  }

  .c-dashboard__current h2 {
    font-size: 16px;
  }

  .c-dashboard__current p {
    font-size: 1.5em;
  }

  .c-dashboard__current p span {
    font-size: 12px;
  }

  .c-dashboard__current-img {
    grid-column: 2;
  }

  .c-dashboard__trend30 {
    width: 7em;
  }

  .c-dashboard__trend90 {
    width: 7em;
  }

  .c-dashboard__trend180 {
    width: 7em;
  }

  .c-dashboard__graph {
    width: 28em;
  }
}
